body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #4CAF50;
    font-family: monospace;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}