body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 400px;
    width: 700px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
