body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: green;
    color: black;
}

ul {
    list-style: none;
    margin-left: 615px;
}

li {
    float: left;
    margin: 10px;
}
